@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: "JetBrains Mono", monospace;
}

:root {
    --bg-color: #121212;
    --panel-bg: #1F1F1F;
    --border-color: #333333;
    --input-bg: #141414;
    --primary-color: #292929;
    --secondary-color: #1F1F1F;
    --text-main: #EAEAEA;
    --text-muted: #8F8F8F;
    --accent-color: #4CAF50;
    --accent-hover: #43A047;
    --announcement-background-color: #5865f2;
}

[data-theme="light"] {
    --bg-color: #F4F6F2;
    --panel-bg: #FFFFFF;
    --border-color: #D3D8CF;
    --input-bg: #FAFAF8;
    --primary-color: #EDF1EA;
    --secondary-color: #FFFFFF;
    --text-main: #20241E;
    --text-muted: #697063;
    --accent-color: #4CAF50;
    --accent-hover: #43A047;
    --announcement-background-color: #5865f2;
}

body {
    color: var(--text-main);
    background-color: var(--bg-color);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}